plugins {
    id 'nf-iridanext'
}

iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext-plugin.output.json.gz"
        overwrite = true
        files {
            samples = ["**/assembly/*.fa.gz"]
        }
        metadata {
            samples {
                csv {
                    path = "**/output.csv"
                    idcol = "column1"
                }
            }
        }
    }
}
